$brand-primary: #5F9EA0;
$brand-success: #8CEAEC;
$brand-info: #D3ECEC;
$brand-warning: #A0785F;
$brand-danger: #533421;

$body-bg: #D3D3D3;
$text-color: #142324;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
