.project-card {
  margin: 2rem 0;

  .project-card-header,
  .project-card-body {
    overflow: hidden;
  }

  .project-card-header {
    //height: 20rem;
    height: 20vw;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .project-card-body {
    background-color: #FFF;
    min-height: 25vw;
    padding: 2rem 1.6rem;
  }
}

@media (max-width: $screen-sm-min) {
  .project-card .project-card-header {
    height: 45vw;
  }
  
  .project-card .project-card-body {
    min-height: 50vw;
  }
}
